body {
    background-color: rgb(121, 158, 121);
}

#num1 {

}

#curtesy {
    font-size: 20px;
    line-height: 0.05em;
}

#title {
    font-size: 50px;
    background-color: rgb(141, 176, 141);
    line-height: 3.0em;
    text-align: center;
    margin-right: -5px;
    margin-left: -5px;
    color: rgb(44, 46, 44);
    font-family: sans-serif;
    border: 7px solid rgb(116, 140, 116);
}

#index {
    color: rgb(77, 82, 77);
    font-size: 30px;
    line-height: 1.0em;
    background-color: ;
    font-style: italic;
    font-family: monospace;

}

#chapters {
    font-size: 20px;
}

#Notes-Image {

}

#Notes-Image2 {
    width: 400px;
    height: 190px;
}

#colonial-notes{
    color: rgb(77, 82, 77);
    text-align: left;
    line-height: 1.0em;
    font-size: 30px;
    font-family: monospace;
}

#franklin-notes {
    color: rgb(77, 82, 77);
    text-align: left;
    line-height: 1.0em;
    font-size: 30px;
    font-family: monospace;
}

#space {
    width: 50px;
}

#Franklin-Image {
    width: 475px;
}

#BenFrank-Image {
    width: 240px;
}

#continental-currency {
    color: rgb(77, 82, 77);
    text-align: left;
    line-height: 1.0em;
    font-size: 30px;
    font-family: monospace;
}

#Continental-Image {
    width: 475px;
}

#Dollar-sign {
    color: rgb(77, 82, 77);
    text-align: left;
    line-height: 1.0em;
    font-size: 30px;
    font-family: monospace;
}

#dollar-sign-image {
    width: 475px;
}

#Greenbacks {
    color: rgb(77, 82, 77);
    text-align: left;
    line-height: 1.0em;
    font-size: 30px;
    font-family: monospace;
}

#greenbacks-image {
    width: 450px;
}

#Silver-certificates {
    color: rgb(77, 82, 77);
    text-align: left;
    line-height: 1.0em;
    font-size: 30px;
    font-family: monospace;
}

#silver-dollar-image {
    width: 450px;
}

#One-dollar {
    color: rgb(77, 82, 77);
    text-align: left;
    line-height: 1.0em;
    font-size: 30px;
    font-family: monospace;
}

#dollar-image {
    width: 450px;
}

#dollar-image2 {
    width: 300px
}

#Sources {
    color: rgb(77, 82, 77);
    text-align: left;
    line-height: 1.0em;
    font-size: 30px;
    font-family: monospace;
}

p {
    font-size: 25px;
    color: black;
    width: 50%;
    height: 50px;
    overflow-x: auto;
    overflow-y: auto;
}

ul
{
    list-style-type:none;
    margin-left:0px;
    padding-left:0px;
}
